<div align="center">  
    <h1>Calculate</h1>
    @using (Html.BeginForm()) {  
     <div class="col-md-4">
        <table class="mb-2 calculate-font">  
            <tr>  
                <th> First Number </th>  
                <td> <input type="number" id="txtFirstNumber" name="firstNumber" class="form-control" /> </td>  
            </tr>  
            <tr>  
                <th> Last Number </th>  
                <td> <input type="number" id="txtLastNumber" name="secondNumber" class="form-control" /> </td>  
            </tr>  
        </table> 
        <div class="col-md-12">
            <button type="submit" name="operation" value="+" class="btn btn-primary"><i class="fa-regular fa-plus"></i></button>
            <button type="submit" name="operation" value="-" class="btn btn-primary"><i class="fa-regular fa-minus"></i></button>
            <button type="submit" name="operation" value="*" class="btn btn-primary"><i class="fa-regular fa-xmark"></i></button>
            <button type="submit" name="operation" value="/"  class="btn btn-primary"><i class="fa-regular fa-divide"></i></button>
        </div>
        <hr />
        <div align="center">
            <label> @ViewBag.Result</label>
        </div>
    </div>
    }   
</div>
      